<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/AboutUs.css">
</head>
<body>
    
       <div id="main">
        <div id="header">
              <div class="logo">LOGO</div>     
                
                <div class="about"><h1>About Us</h1></div>

                <div class="box">
                        <a href="/" class="btn btn-secondary">home</a>
                </div>

                         
        </div>






        <div id="fakeheader">
            

        </div>






        <div id="page1">
              <h3>College Dost is a student-driven platform built to simplify the journey of engineering students.

We understand that juniors often struggle due to lack of proper guidance, while seniors and alumni possess valuable knowledge that often remains unshared.

This platform connects juniors with mentors and alumni to provide guidance on academics, placements, and real-world skills.

Through features like real-time chat, structured roadmaps, and alumni insights, College Dost helps students make informed decisions about their careers.</h3>

            <br> <br>             
             <h4>Key Highlights:</h4><br>

              <ul>

                  <li>Direct communication between juniors and experienced mentors.</li>
                  <li>Access to alumni experiences and industry insights.</li>
                  <li>Semester-wise roadmap for skill development.</li>
                  <li>Safe and supportive environment with optional anonymous communication.</li>

             </ul>

             <h4>Our Vision:</h4><br>
             <h3>To create a strong student community where knowledge and experience are shared freely, helping every student grow academically and professionally.</h3>

              <h4>Our mission:</h4><br>
             <ul>
                        <li>To reduce the gap between juniors and seniors.</li>
                        <li>To provide reliable and structured guidance.</li>
                        <li>To build a collaborative learning environment.</li>
                        <li>To support students in achieving their academic and career goals.</li>
            </ul>

             <h4>Future Scope:</h4><br>
             <ul>
                  <li>Expanding the platform to multiple colleges.</li>
                   <li>Adding internship and placement support features.</li>
                    <li>Enhancing the mentor selection and feedback system.</li>

             </ul>
                  <p>Our goal is to create a reliable and supportive ecosystem where students help each other succeed and grow together.</p>
        </div>





        <div id="page2">
            
        </div>

        </div>
</body>
</html>























