<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN PANEL</title>
    <link rel="stylesheet" href="/css/adminP.css">
</head>
<body>

<div id="main">

    <div id="header">
        <div class="logo">College Dost</div>
         <div class="home">
                    <div class="box">
                        <a href="/" class="btn btn-secondary">home</a>
                    </div>
                    
            </div>
        <h2>ADMIN DASHBOARD</h2>
    </div>



    <div id="fakeheader"></div>

    <div id="page">

       
        <div class="column">
            <h3>STUDENTS</h3>
            <div class="box"><a href="/admin/addstd">Add</a></div>
            <div class="box"><a href="/admin/deletestd">Delete</a></div>
            <div class="box"><a href="/admin/updatestd">Update</a></div>
            <div class="box"><a href="/admin/viewdata" class="btn">View</a></div>
        </div>

       
        <div class="column">
            <h3>MENTORS</h3>
            <div class="box"><a href="/admin/addmentor">Add</a></div>
            <div class="box"><a href="/admin/deletemen">Delete</a></div>
            <div class="box"><a href="/admin/updatemen">Update</a></div>
            <div class="box"><a href="/admin/viewment">View</a></div>
        </div>

        
        <div class="column">
            <h3>ALUMNI</h3>
            <div class="box"><a href="/admin/addalumni">Add</a></div>
            <div class="box"><a href="/admin/deletealu">Delete</a></div>
            <div class="box"><a href="/admin/updatealu">Update</a></div>
            <div class="box"><a href="/admin/viewalu">View</a></div>
        </div>

           
            
    </div>

</div>

</body>
</html>

























