<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Dost</title>
    <link rel="stylesheet" href="/css/clone.css">
</head>
<body>

    <div id="main">
        <div id="header">
              <div class="logo">LOGO</div>     
                
                   <ul class="navbar">
                     <li><a href="/">HOME</a></li>
                     <li><a href="/AboutUs">ABOUT US</a></li>
                     <li><a href="#">TOP 50 MENTORS</a></li>
                     <li><a href="/student/contact">CONTACT SUPPORT</a></li>
                     <li><a href="/login" class="btn">LOGIN / SIGN UP</a></li>
                
                  </ul>
             
        </div>


        <div id="fakeheader">
            fakeheader

        </div>


        <div id="page1">
              <section class="hero">

                    <div class="hero-text">
                        <h1><span class="college">COLLEGE</span> <span class="dost">DOST</span></h1>
                        <div class="glass">
                             <p>Bridging the gap between Juniors and Seniors. Get career roadmaps, expert guidance, and mentor support - all in one place.</p>
                        </div>
                       
                    </div>

                    <div class="hero-image">
                        <img src="\images\clone page.png" alt="Group working" />
                    </div>

                    <div class="hero-buttons">
                            <button id="btn">Explore Roadmaps</button>
                            <button id="btn">Find a mentor</button>
                     </div>

                    <div class="hero-tagline">
                        <h2>BRIDGING  <br>THE GAP,<br>BUILDING<br> THE FUTURE.</h2>
                    </div>

                    
                    
                 <a href="/AboutUs" class="learn-more">Learn More</a>
             </section>

        </div>






        <div id="page2">
             
                <div id="about">
                        <h1><u>ABOUT</u></h1>
                        <div class="glass2">
                            <h3>Why College Dost?</h3>
                            <br>
                            <p> Transitioning through engineering years can be tough.College Dost is a peer-to-peer mentoring platform designed specificallly for KIT's College of Engineering.We empower 1st to 3rd-year students with knowledge from experienced 4th-year seniors and successful Alumni.</p>
                            
                        </div>
                </div>

                <div id="features">
                        <h1><u>Features</u></h1>
                        <div class="glass3">
                            <ul>
                                <p><li>Feature 1: Interactive Roadmaps <br>Get semester-wise technical and non-technical paths tailored for your specific branch.</li>

                                 <br>

                                    <li>Feature 2: One-to-One Peer Chat <br>Connect directly with top rated seniors to solve your academic or placement doubts</li>

                                 <br>

                                 <li>Feature 3: Anonymous Buddy Chat <br>Discuss personal or sensitive issue without revealing your identity.Your privacy is our priority.</li>

                                 <br>

                                 <li>Feature 4: Gamified Recognization <br>Seniors earn "Kudos Points" and "Special badges" for helping the community</li>   
                                </p> 
                            </ul>
                            
                        </div>
                </div>
        </div>




         <div id="page3">
           
                <div class="heading">
                    <h1>Alumni Spotlight</h1>
                </div>
                
                <div class="middle">
                    <h1>Wisdom From Graduates</h1>
                    <p>Watch exclusive interviews and read blogs from our alumni <br>
                    working at top tech companies like Cognizant,TCS and Accenture.</p>

                    
                        <a href="/spotlights" >View All Spotlight</a>
                   
                    
                </div>
                
        </div>


        <div id="page4">
                    <div class="footer-container">

                        <div class="footer-box">
                                <h1>College Dost</h1>
                                <a href="/Empower">Empowering students through community learning</a> 
                         </div>

                         <div class="footer-box">
                           <h1>Quick links</h1>
                            <ul>
                             <li><a href="AboutUs">About Us</a></li>
                             <li><a href="PrivacyP">Privacy Policy</a></li>
                             <li><a href="Guidelines">Guidelines</a></li>
                             <li><a href="/FAQ">FAQs</a></li>
                           </ul>
                         </div>

                         <div class="footer-box">
                           <h1>Contact</h1>
                          <p>
                              <a href="https://www.kitcoek.in/best-cse-college-kolhapur-best-computer-science-business-systems" 
                                 target="_blank" 
                                 rel="noopener noreferrer">
                                Department of CSBS, KIT's College of Engineering, Kolhapur.
                              </a>
                         </p>    
                                 {{!-- rel="noopener noreferrer"  is better for security               --}}
                         </div>

                    </div>     
        </div>

</div>
    


                    <script src="/js/clone.js"></script>
</body>
</html>



 