<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College</title>
    <link rel="stylesheet" href="/css/Empower.css">
</head>
<body>
    
       <div id="main">
        <div id="header">
              <div class="logo">LOGO</div>     
                
                <div class="emp"><h1>College Dost</h1></div>
                <div class="box">
                    <a href="/" class="btn btn-secondary">home</a>
                </div>
                         
        </div>


        <div id="fakeheader">
            

        </div>


        <div id="page1">

              <h3>College Dost is a platform designed to bridge the gap between juniors and experienced seniors by creating a collaborative and supportive learning environment.
Many students face confusion regarding academics, skill development, and career choices. At the same time, seniors and alumni possess valuable experience that often remains unshared. College Dost brings both together on a single platform.
Through real-time communication, structured semester-wise roadmaps, and alumni guidance, we aim to help students make better academic and career decisions with clarity and confidence.
Our platform encourages peer-to-peer learning, where students can connect, ask questions, and learn from real experiences instead of relying on scattered information.</h3>

            <br>           
             <h4>Key Features:</h4>

              <ul>

                  <li> Connect with experienced mentors for guidance.</li>
                  <li> Access clear and structured learning roadmaps.</li>
                  <li>Gain insights from alumni working in the industry.</li>
                  <li> Communicate safely through real-time and anonymous chat.</li>

             </ul>

            <h3>Our mission is to build a strong student community where knowledge, experience, and opportunities are shared freely, enabling every student to grow with confidence.
Together, we aim to create a culture of learning, support, and success for every student.</h3>    
        </div>

        </div>
</body>
</html>

























