<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Dost login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
        <div id="main">
            <div id="header">
                <div class="logo">LOGO</div>   
                <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
                <h2>LOGIN/SIGN UP</h2>
                <div class="box">
                        <a href="/" class="btn btn-secondary">home</a>
                </div>

            </div>

            <div id="fakeheader"></div>

            <div id="page">
                <div class="charts">
                    <div id="student">
                        <div class="img">
                            <img src="\images\student.png" alt="">
                        </div>
                                <br><br>
                        <div class="stspace">
                                <a href="/student/signup" class="btn">Student SIGN UP</a>
                                 <a href="/student/studentlog" class="btn">Student LOGIN</a>                         
                         </div>
                    </div>

                    <div id="mentor">
                            <div class="img">
                               <img src="\images\mentor.png" alt="">
                            </div>
                                <br><br>
                            <div class="mtspace">
                                <a href="/mentor/mentorlog" class="btn">Mentor LOGIN</a>
                            </div>
                    </div>

                    <div id="alumni">
                            <div class="img">
                                <img src="\images\alumni.png" alt="">
                            </div>
                                <br><br>
                            <div class="alspace">
                                <a href="/alumni/alumnilog" class="btn">Alumni LOGIN</a>
                            </div>
                    </div>
                </div>
                     <a href="/admin/adminlog" class="btn1">Admin Login</a>
            </div>
           
        </div>
</body>
</html>